*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Header section */
body{
    overflow-x: hidden;
}
header{
    display: flex;
    position: sticky;
    flex-direction: row;
    top: -2px;
    width: 100vw;
    height: max-content + 10px;
    z-index: 10;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0,0,0,0.95));
}
.navBar{
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: inherit;
}
#hamburgerMenu{
    display: none;
}
#companyLogoDiv{
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 40%;
    margin: 0 10%;
    height: 100%;
}
#companyLogoDiv > img{
    margin-right: 10px;
}
#companyLogoDiv > p{
    color: white;
    font-weight: bold;
    font-size: 25px;
}
#companyLogoDiv > p::selection{
    background-color: white;
    color: black;
}
#navLinksDiv{
    display: flex;
    position: relative;
    width: 60%;
    justify-content: right;
    align-items: center;
}
#labelHamburger{
    display: none;
}
#navLinks{
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right:100px; 
    z-index: 11;
}
#navLinks > li{
    list-style: none;
    padding: 5px 10px;
    position: relative;
    margin: 10px 5px;
    font-size: 20px;
    border: 1px solid transparent;
}
#navLinks > li > a{
    text-decoration: none;
    color: white;
}
#navLinks > li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    width: 25%;
    height: 1px;
    background-color: white;
    border: 2px solid white;
    transition: all 0.25s ease-in-out;
}
#navLinks > li:hover::after{
    width: 90%;
    --bgclr: rgb(8, 247, 255);
    background-color: var(--bgclr);
    border: 2px solid var(--bgclr);
}
#navLinks:has(li:hover) > li:not(:hover){
    color: grey;
    & > a{
        color: grey;
    }
    &::after{
        color: grey;
        border: 2px solid grey;
    }
}

/* Main Section */
main{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    color: white;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 10%;
}
article > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    text-align: justify;
    height: 200px;
    padding: 10px;
}
article > div > p{
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 0px;
    margin: 2px;
}
article > div > p::selection{
    background-color: white;
    color: black;
}

article:nth-child(2n+1) > div{
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
article:nth-child(2n) > div{
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
article > div > button{
    position: relative;
    margin: auto;
    padding: 10px;
    margin: 10px auto;
    outline: 0;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    font-weight: 1.3em;
}
article > div > button:hover{
    scale: 1.1;
    border-color: aqua;
    color: aqua;
    box-shadow: 1px 5px 5px 0 black;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}
/* Footer Section */

@media only screen and (max-width: 768px){
    #companyLogoDiv{
        width: 70%;
    }
    #navLinksDiv{
        position: fixed;
        width: 80vw;
        height: 100vh;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        padding: 5% 20px 20%;
        background-color: rgba(0,0,0,0.9);
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }
    #labelHamburger, #closeHamburgerMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 20px;
    }
    #labelHamburger,#closeHamburgerMenu{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #closeHamburgerMenu > span:nth-child(1){
        transform-origin: left;
        transform: rotateZ(45deg);
        margin-bottom: 10px;
    }
    #closeHamburgerMenu > span:nth-child(2){
        transform-origin: left;
        transform: rotateZ(-45deg);
    }
    #labelHamburger > span,#closeHamburgerMenu > span{
        display: block;
        background-color: white;
        width: 1.6em;
        height: 5px;
        margin: 3px;
        border: 1px solid white;
    }
    #navLinks{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }
    #hamburgerMenu:checked ~ #navLinksDiv{
        transform: translateX(0);
    }
    main{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}